nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: black;
  color: white;
}

.body {
  position: absolute;
  background-color: blue;
  height: 1000px;
  width: 100%;
}

.links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

h1 {
  text-align: center;
}
