nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: black;
  color: white;
}

.body {
  position: absolute;
  background-color: blue;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  width: 100%;
}

.links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.input {
  text-align: center;
}

h1 {
  text-align: center;
}

.card {
  background-color: white;
  margin-right: 40px;
}
